@charset "UTF-8";
/**
 * @author yanjisheng
 */
h1{
	margin: 5px 0px;
	font-size: 30px;
}
h2{
	margin: 5px 0px;
	font-size: 20px;
}
p{
	margin: 0px;
	font-size: 16px;	
}
a{
	color: inherit;
	text-decoration: inherit;
	font-size: 16px;
}
a.small{
	color: #1c5be8;
}
div.center{
	margin: 0px auto;
	max-width: 800px;
}
div.center-small{
	margin: 0px auto;
	max-width: 320px;
}
label{
	display: inline-block;
	text-align: right;
	width: 100px;
	height: 30px;
}
input[type=text], input[type=password], input[type=date], input[type=number]{
	width: 190px;
	height: 30px;
	border: 1px solid #000000;
	border-radius: 5px;
	margin: 5px 0px;
	padding: 0px 5px;
}
input.small{
	width: 120px;
}
input[type=submit], input[type=button], button{
	width: 100px;
	height: 40px;
	background-color: #204a87;
	border: 1px solid #204a87;
	color: #ffffff;
	border-radius: 20px;
	font-size: 16px;
	cursor: pointer;
	margin: 5px 0px;
}
select{
	width: 202px;
	height: 32px;
	border: 1px solid #000000;
	border-radius: 5px;
	margin: 5px 0px;
	padding: 1px;
	position: relative;
	left: 0px;
}
div.btn{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 40px;
	background-color: #a40000;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	margin: 5px 0px;
}
div.btn-blue{
	background-color: #204a87;
}
table{
	border-collapse: collapse;
	margin: 5px 0px;
	width: 100%;
}
table td{
	border: 1px solid #333333;
	margin: 0px;
	padding: 5px 2px;
	word-break: break-all;
}
tr>td:first-of-type{
	text-align: right;
}
tr:hover{
	background-color: #e5e5e5;
}