<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.jju.outschoolreaders.dao.DeleteLogDao">
	<insert id="add" parameterType="DeleteLog">
		insert into deleteLog(managerId, deletedAt, data)
		values(#{managerId}, #{deletedAt}, #{data})
	</insert>
</mapper>