<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.jju.outschoolreaders.dao.ManagerDao">
	<insert id="add" parameterType="Manager">
		insert into manager(loginName, password, name) 
		values(#{loginName}, #{password}, #{name})
	</insert>
	<update id="modify" parameterType="Manager">
		update manager set 
		<if test="password != null and password != ''">
			password = #{password}, 
		</if>
		<if test="name != null and name != ''">
			name = #{name} 
		</if>
		where id = #{id}
	</update>
	<select id="selectById" parameterType="Integer" resultType="Manager">
		select id, loginName, password, name, superAdmin from manager
		where id = #{id}
	</select>
	<select id="selectByLoginName" parameterType="String" resultType="Manager">
		select id, loginName, password, name, superAdmin from manager
		where loginName = #{loginName}
	</select>
	<update id="delete" parameterType="Integer">
		update manager set superAdmin = -1
		where id = #{id}
	</update>
	<select id="count" resultType="int">
		select count(id) from manager where superAdmin != -1
	</select>
	<select id="query" parameterType="Page" resultType="Manager">
		select id, loginName, name, superAdmin from manager where superAdmin != -1
		order by id limit #{offset}, #{pageSize}
	</select>
</mapper>