<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="author" content="yanjisheng">
<meta name="X-UA-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>九江学院图书馆校外读者管理系统</title>
<link rel="stylesheet" type="text/css" href="/general.css">
<script src="/dependencies/jquery.js"></script>
<script src="/dependencies/vue.js"></script>
</head>
<body>
<div id="style-changer"></div>
<script src="/black.js"></script>
<div class="center">
	<h1>读者详细信息</h1>
	<h2>读者基本信息</h2>
	<table id="container">
		<tr v-if="document.body.clientWidth < 600">
			<td style="width:100px">照片：</td>
			<td style="text-align: center;">
				<img :src="reader.image == null ? '/img/default.png' :'/upload/'+reader.image" style="width: 100%; max-width: 200px">
			</td>
		</tr>
		<tr>
			<td style="width:100px">借阅证号：</td><td>{{reader.cardNo}}</td>
			<template v-if="document.body.clientWidth >= 600">
			<td rowspan="12" style="width:100px; text-align: right;">照片：</td>
			<td rowspan="12" style="width: 200px; text-align: center;">
				<img :src="reader.image == null ? '/img/default.png' :'/upload/'+reader.image" style="width: 200px">
			</td>
			</template>			
		</tr>
		<tr><td>姓名：</td><td>{{reader.name}}</td></tr>
		<tr><td>性别：</td><td>{{reader.gender}}</td></tr>
		<tr><td>身份证号：</td><td>{{reader.identityNo}}</td></tr>
		<tr><td>住址（或工作单位）：</td><td>{{reader.address}}</td></tr>
		<tr><td>联系电话：</td><td>{{reader.phone}}</td></tr>
		<tr><td>电子邮件：</td><td>{{reader.email}}</td></tr>
		<tr><td>有效期至：</td><td>{{reader.validThru}}</td></tr>
		<tr><td>读者类型：</td><td>{{reader.categoryName}}</td></tr>
		<tr><td>经办人：</td><td>{{reader.manager == null ? '' : reader.manager.name}}</td></tr>
		<tr><td>备注：</td><td>{{reader.remark}}</td></tr>
		<tr><td title="注册时间">申请时间：</td><td>{{reader.createdAt}}</td></tr>
	</table>
	<h2>读者缴费记录</h2>
	<table id="payRecords">
		<tr>
			<td>序号</td>
			<td>缴费日期</td>
			<td>金额</td>
			<td>类型</td>
			<td>有效期至</td>
			<td>经办人</td>
			<td><a class="small" href="javascript:deleteTransactions()">删除缴费记录</a></td>
		</tr>
		<tr v-for="(transaction,index) in list">
			<td>{{index+1}}</td>
			<td>{{transaction.date}}</td>
			<td>{{transaction.amount}}元</td>
			<td>{{transaction.typeName}}</td>
			<td>{{transaction.validThru}}</td>
			<td>{{transaction.manager.name}}</td>
			<td><a class="small" :href="'javascript:deleteTransaction('+transaction.id+')'">删除</a></td>
		</tr>
	</table>
	<input type="submit" value="修改" onclick="modify()">
	<input type="submit" value="缴(退)费" onclick="pay()">
	<input type="submit" value="删除" onclick="deleteReader()">
	<div class="btn"><a href="main.html">返回</a></div>
</div><!-- end of center -->
<script>
var url = window.location.toString();
var index = url.indexOf('id=');
var id;
try{
	id = parseInt(url.substring(index + 3, url.length));
}catch(e){
	alert("您尚未登录，请先登录！");
	window.location = "login.html";
}
var vue = new Vue({
	"el": "#container",
	"data": {
		"reader": null
	}
});
var vueRecords = new Vue({
	"el": "#payRecords",
	"data": {
		"count": 0,
		"list": null
	}
});
function init(){
	$.ajax({
		"url": "getReaderById",
		"method": "POST",
		"data": {
			"loginName": sessionStorage.getItem("loginName"),
			"password": sessionStorage.getItem("password"),
			"id": id
		},
		"dataType": "json",
		"success":function(reader){
			if(reader.id == -1){
				alert("您尚未登录，请先登录！");
				window.location = "login.html";
			}else{
				vue.reader = reader;			
			}
		},
		"error":function(){
			alert("系统错误！");
		}
	});
	$.ajax({
		"url": "getPaymentsByReaderId",
		"method": "POST",
		"data": {
			"loginName": sessionStorage.getItem("loginName"),
			"password": sessionStorage.getItem("password"),
			"id": id
		},
		"dataType": "json",
		"success":function(data){
			if(data.count == -1){
				alert("您尚未登录，请先登录！");
				window.location = "login.html";
			}else{
				vueRecords.count = data.count;
				vueRecords.list = data.list;
			}
		},
		"error":function(){
			alert("系统错误2！");
		}
	});
}
function modify(){
	window.location = "reader-modify.html?id="+id;
}
function pay(){
	window.location = "pay.html?id="+id;
}
function deleteReader(){
	var conf = confirm("您真的要删除“"+vue.reader.name+"”在系统中的所有记录吗？\n"
			+ "本操作不可恢复，请勿删除真实数据！");
	if(!conf){
		return;
	}
	$.ajax({
		"url": "deleteReader",
		"method": "POST",
		"data": {
			"loginName": sessionStorage.getItem("loginName"),
			"password": sessionStorage.getItem("password"),
			"id": id
		},
		"dataType": "text",
		"success":function(data){
			if(data == "unauthorized"){
				alert("您尚未登录，请先登录！");
				window.location = "login.html";
			}else{
				alert("删除成功！");
				window.location = "main.html";
			}
		},
		"error":function(){
			alert("系统错误3！");
		}
	});
}
function deleteTransactions(){
	var conf = confirm("您真的要删除“"+vue.reader.name+"”在系统中的所有缴费记录吗？\n"
			+ "本操作不可恢复，请勿删除真实数据！");
	if(!conf){
		return;
	}
	$.ajax({
		"url": "deleteReaderTransactions",
		"method": "POST",
		"data": {
			"loginName": sessionStorage.getItem("loginName"),
			"password": sessionStorage.getItem("password"),
			"id": id
		},
		"dataType": "text",
		"success":function(data){
			if(data == "unauthorized"){
				alert("您尚未登录，请先登录！");
				window.location = "login.html";
			}else{
				alert("删除成功！");
				window.location = "reader.html?id=" + id;
			}
		},
		"error":function(){
			alert("系统错误4！");
		}
	});
}
function deleteTransaction(transactionId){
	var conf = confirm("您真的要删除这一条缴费记录吗？\n"
			+ "本操作不可恢复，请勿删除真实数据！");
	if(!conf){
		return;
	}
	$.ajax({
		"url": "deleteTransactionById",
		"method": "POST",
		"data": {
			"loginName": sessionStorage.getItem("loginName"),
			"password": sessionStorage.getItem("password"),
			"id": transactionId
		},
		"dataType": "text",
		"success":function(data){
			if(data == "unauthorized"){
				alert("您尚未登录，请先登录！");
				window.location = "login.html";
			}else{
				alert("删除成功！");
				window.location = "reader.html?id=" + id;
			}
		},
		"error":function(){
			alert("系统错误5！");
		}
	});
}
$("document").ready(init);
</script>
</body>
</html>