<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="author" content="yanjisheng">
<meta name="X-UA-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>九江学院图书馆校外读者管理系统</title>
<link rel="stylesheet" type="text/css" href="/general.css">
<script src="/dependencies/jquery.js"></script>
<script src="/dependencies/vue.js"></script>
</head>
<body>
<div id="style-changer"><span onclick="toggle()">点击切换主题</span> <span onclick="hideme()">隐藏</span></div>
<script src="/black.js"></script>
<div class="center">
	<h1>缴（退）费记录</h1>
	<div class="label"><label for="startDate">缴费日期</label> <div class="label"><input type="date" id="startDate" class="small">-<input type="date" id="endDate" class="small"></div></div>
	<div class="label"><label for="amountMin">缴费金额</label> <div class="label"><input type="number" id="amountMin" class="small">-<input type="number" id="amountMax" class="small"></div></div>
	<div class="label"><label for="types">类型</label>
	<select id="types">
		<option value="">全部</option>
		<option value="1">阅览服务费</option>
		<option value="2">借阅服务费</option>
		<option value="3">借阅押金</option>
		<option value="4">退押金</option>
	</select></div>
	<div class="label"><label for="managerIds">经办人</label>
	<select id="managerIds">
		<option value="">全部</option>
		<option v-for="manager in list" :value="manager.id">{{manager.name}}</option>
	</select></div><br>
	<input type="submit" value="查询" onclick="queryFromFirstPage()">
	<input type="submit" value="导出" onclick="exportData()">
	<div id="transactions">
		<table>
			<tr><td>序号</td><td>缴费人</td><td>缴费日期</td><td>金额</td><td>类型</td><td>经办人</td></tr>
			<tr v-for="(transaction,index) in list">
				<td>{{index+1}}</td>
				<td><a class="small" :href="'reader.html?id=' + transaction.reader.id">{{transaction.reader.name}}</a></td>
				<td>{{transaction.date}}</td>
				<td align="right">{{transaction.amount}}元</td>
				<td>{{transaction.typeName}}</td>
				<td>{{transaction.manager.name}}</td>
			</tr>
		</table>
		共{{count}}条数据 第<input type="number" style="width:50px" id="pageNum" value="1" min="1" onchange="query()">页
		<button onclick="sub()">上一页</button> <button onclick="add()">下一页</button>
	</div>
	<div class="btn"><a href="main.html">返回</a></div>
</div><!-- end of center -->
<script>
var vue = new Vue({
	"el": "#transactions",
	"data": {
		"count": 0,
		"list": []
	}
});
var vueManager = new Vue({
	"el": "#managerIds",
	"data": {
		"count": 0,
		"list": []
	}
});
$(document).ready(function(){
	getManagers();
	query();
});
function query(){
	$.ajax({
		"url":"getPayments",
		"method":"POST",
		"data":{
			"loginName": sessionStorage.getItem("loginName"),
			"password": sessionStorage.getItem("password"),
			"page.pageNum": $("#pageNum").val(),
			"startDate": $("#startDate").val(),
			"endDate": $("#endDate").val(),
			"amountMin": $("#amountMin").val(),
			"amountMax": $("#amountMax").val(),
			"type": $("#types").val(),
			"managerId": $("#managerIds").val(),
		},
		"dataType":"json",
		"success":function(data){
			if(data.count == -1){
				alert("您尚未登录，请先登录！");
				window.location = "login.html";
			}else{
				vue.count = data.count;
				vue.list = data.list;			
			}
		},
		"error":function(){
			alert("系统错误！");
		}
	});
}
function getManagers(){
	$.ajax({
		"url":"getManagers",
		"method":"POST",
		"data":{
			"loginName": sessionStorage.getItem("loginName"),
			"password": sessionStorage.getItem("password"),
			"pageSize": 0
		},
		"dataType":"json",
		"success":function(data){
			if(data.count == -1){
				alert("您尚未登录，请先登录！");
				window.location = "login.html";
			}else{
				vueManager.count = data.count;
				vueManager.list = data.list;			
			}
		},
		"error":function(){
			alert("系统错误2！");
		}
	});
}
function add(){
	$("#pageNum").val(1 + parseInt($("#pageNum").val()));
	query();
}
function sub(){
	$("#pageNum").val($("#pageNum").val() - 1);
	query();
}
function exportData(){
	window.open("exportPayments.xls?loginName="+sessionStorage.getItem("loginName")
			+"&password="+sessionStorage.getItem("password")
			+"&startDate="+$("#startDate").val()
			+"&endDate="+$("#endDate").val()
			+"&amountMin="+$("#amountMin").val()
			+"&amountMax="+$("#amountMax").val()
			+"&type="+$("#types").val()
			+"&managerId="+$("#managerIds").val());
}
function queryFromFirstPage(){
	$("#pageNum").val(1);
	query();
}
</script>
</body>
</html>